@import "icons";
@import "variables";
@import "header";
@import "main";
@import "footer";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {

}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  max-width: 800px;
}