@import "variables";
@import "header/header";
@import "main";
@import "footer";
@import "popusp";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0;
}

span {
  font-family: Serif;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
  max-width: 800px;
  min-width: 290px;
}